$pwa-white-color: #FFF;
$pwa-brown-50: #FEF9F6;
$pwa-brown-100: #F7EBE4;
$pwa-brown-200: #EDDCD1;
$pwa-brown-300: #D1B4A3;
$pwa-brown-400: #B58B73;
$pwa-brown-500: #765644;
$pwa-brown-600: #6E4D3A;
$pwa-brown-700: #634331;
$pwa-brown-800: #4D3322;
$pwa-brown-900: #362217;
$pwa-brown-950: #0F0E0D;
$pwa-neutral-cold-50: #f2f2f2;
$pwa-neutral-cold-100: #e8e8e8;
$pwa-neutral-cold-200: #d1d1d1;
$pwa-neutral-cold-300: #b8b8b8;
$pwa-neutral-cold-400: #9fa2a1;
$pwa-neutral-cold-500: #868e89;
$pwa-neutral-cold-600: #6d7972;
$pwa-neutral-cold-700: #56625b;
$pwa-neutral-cold-800: #3d4842;
$pwa-neutral-cold-900: #27302b;
$pwa-neutral-cold-950: #161d1a;
$pwa-neutral-warm-50: #fdfcfc;
$pwa-neutral-warm-100: #f4f2f1;
$pwa-neutral-warm-200: #ded8d5;
$pwa-neutral-warm-300: #c4bbb6;
$pwa-neutral-warm-400: #a4968e;
$pwa-neutral-warm-500: #73655d;
$pwa-neutral-warm-600: #695d55;
$pwa-neutral-warm-700: #574d47;
$pwa-neutral-warm-800: #473e39;
$pwa-neutral-warm-900: #362f2b;
$pwa-neutral-warm-950: #1c1917;
$pwa-pink-50: #fff0f0;
$pwa-pink-100: #fee6e6;
$pwa-pink-200: #fcc4c5;
$pwa-pink-300: #f99a9c;
$pwa-pink-400: #E46A6B;
$pwa-pink-500: #9e1012;
$pwa-pink-600: #8e0b0d;
$pwa-pink-700: #82080a;
$pwa-pink-800: #670406;
$pwa-pink-900: #550203;
$pwa-pink-950: #3d0001;
$pwa-blue-50: #ecf7fd;
$pwa-blue-100: #daeffb;
$pwa-blue-200: #a6d8f5;
$pwa-blue-300: #6fc1f0;
$pwa-blue-400: #1c9de8;
$pwa-blue-500: #106a9e;
$pwa-blue-600: #0e5d8b;
$pwa-blue-700: #0d547d;
$pwa-blue-800: #0a4466;
$pwa-blue-900: #08354f;
$pwa-blue-950: #041c2a;
$pwa-green-50: #F1F9F2;
$pwa-green-100: #DFF1E3;
$pwa-green-200: #BFE3C6;
$pwa-green-300: #98D2A3;
$pwa-green-400: #66BD77;
$pwa-green-500: #429953;
$pwa-green-600: #3C8B4C;
$pwa-green-700: #347942;
$pwa-green-800: #2B6436;
$pwa-green-900: #1F4727;
$pwa-green-950: #122B17;
$pwa-yellow-50: #FBF7EF;
$pwa-yellow-100: #FBF1DA;
$pwa-yellow-200: #FAE7C0;
$pwa-yellow-300: #FAD791;
$pwa-yellow-400: #EBBA59;
$pwa-yellow-500: #D59C2D;
$pwa-yellow-600: #BD8B29;
$pwa-yellow-700: #A67B26;
$pwa-yellow-800: #886520;
$pwa-yellow-900: #664C1A;
$pwa-yellow-950: #523A0A;
$pwa-red-50: #FBECEC;
$pwa-red-100: #FFDEDE;
$pwa-red-200: #F6C0C0;
$pwa-red-300: #EB9F9F;
$pwa-red-400: #E15F5F;
$pwa-red-500: #C63737;
$pwa-red-600: #B82525;
$pwa-red-700: #A31F1F;
$pwa-red-800: #830E0E;
$pwa-red-900: #5D0909;
$pwa-red-950: #471515;
$pwa-purple-50: #F6F4FB;
$pwa-purple-100: #E9E3FA;
$pwa-purple-200: #D6CDEF;
$pwa-purple-300: #B9AAE4;
$pwa-purple-400: #967ED8;
$pwa-purple-500: #5A36BE;
$pwa-purple-600: #5233A9;
$pwa-purple-700: #462C8B;
$pwa-purple-800: #37236C;
$pwa-purple-900: #2B1D53;
$pwa-purple-950: #1C1334;
$pwa-word-color: #19468b;
$pwa-google-docs-color: #0077e1;
$pwa-chrome-extension-color: #0d9d59;
$pwa-edge-extension-color: #249fbd;
$pwa-firefox-extension-color: #3f83d7;
$pwa-safari-extension-color: #00b0ff;
$pwa-bitbucket-color: #205081;
$pwa-facebook-color: #3b5998;
$pwa-twitter-color: #1da1f2;
$pwa-google-plus-color: #f42a2a;
$pwa-linkedin-color: #0077b5;
$pwa-instagram-color: #4362a7;
$pwa-reddit-color: #ff4301;
$pwa-medium-color: #00ab6c;
$pwa-pinterest-color: #cb2027;
$pwa-email-color: #c71610;
$pwa-youtube-color: #ff0000;
$pwa-sso-background-color: #fff;


// comentario

$--colors--main--black: #141515;
$--dark--text-primary: #e5e8e8;
$--swatch--dark: #7a8185;
$--dark--text-secondary: var(--colors--gray--300);
$--swatch--primary-default: #bfff4f;
$--swatch--white: white;
$--dark--grey-950: var(--colors--gray--50);
$--dark--grey-500: var(--colors--gray--500);
$--dark--grey-300: var(--colors--gray--700);
$--colors--main--white: white;
$--dark--grey-900: var(--colors--gray--100);
$--dark--grey-700: var(--colors--gray--300);
$--dark--grey-400: var(--colors--gray--600);
$--dark--grey-200: var(--colors--gray--800);
$--dark--grey-600: var(--colors--gray--400);
$--dark--grey-800: var(--colors--gray--200);
$--colors--main--primary: var(--colors--lime--300);
$--colors--lime--200: #daff95;
$--colors--lime--600: #66b000;
$--colors--gray--600: #585e62;
$--dark--button-outline: var(--colors--main--transparent);
$--dark--button-bg: #bdfe4f;
$--dark--button-text: #141515;
$--dark--button-hover-text: var(--colors--main--primary);
$--dark--button-outline-border: var(--colors--gray--700);
$--dark--button-outline-text: var(--colors--gray--200);
$--dark--button-outline-border-hover: var(--colors--gray--400);
$--dark--button-outline-hover: var(--colors--main--transparent);
$--dark--button-outline-text-hover: var(--colors--gray--200);
$--swatch--black: #15171a;
$--light--grey-50: var(--colors--gray--50);
$--swatch--deep: #1f2123;
$--swatch--darker: #4b4b4b;
$--colors--gray--950: #1d1f20;
$--colors--gray--900: #2f3337;
$--colors--gray--800: #414749;
$--colors--gray--700: #4a5054;
$--colors--gray--500: #696f71;
$--colors--gray--400: #848a8c;
$--colors--gray--300: #aeb1b2;
$--colors--gray--200: #cfd2d2;
$--container--medium: var(--size--size-80);
$--container--small-tablet: var(--size--size-48);
$--container--small-mobile: var(--size--size-24);
$--swatch--darkest: #272b2e;
$--container--small: var(--size--size-160);
$--container--large: var(--size--size-32);
$--dark--grey-50: var(--colors--gray--950);
$--swatch--lighter: #ecedee;
$--swatch--pale: #f3f3f3;
$--colors--gray--100: #e5e8e8;
$--swatch--lightest: #eaebeb;
$--dark--footer-bg: var(--colors--gray--950);
$--dark--footer-line: var(--colors--gray--800);
$--swatch--light: #d0d1d2;
$--light--text-primary: var(--colors--main--black);
$--border-radius--br-20: var(--size--size-20);
$--swatch--primary-dark: #78b200;
$--spacing-block--spacing-8: var(--size--size-8);
$--light--grey-100: var(--colors--gray--100);
$--colors--main--transparent: #ffffff03;
$--swatch--grey: #b6b8b9;
$--spacing-block--spacing-0: var(--size--size-0);
$--size--size-40: 2.5rem;
$--size--size-32: 2rem;
$--size--size-48: 3rem;
$--size--size-24: 1.5rem;
$--size--size-64: 4rem;
$--size--size-16: 1rem;
$--size--size-8: .5rem;
$--spacing-block--spacing-2: var(--size--size-2);
$--spacing-block--spacing-4: var(--size--size-4);
$--spacing-block--spacing-12: var(--size--size-12);
$--spacing-block--spacing-16: var(--size--size-16);
$--spacing-block--spacing-24: var(--size--size-24);
$--spacing-block--spacing-32: var(--size--size-32);
$--spacing-block--spacing-40: var(--size--size-40);
$--spacing-block--spacing-48: var(--size--size-48);
$--spacing-block--spacing-56: var(--size--size-56);
$--spacing-block--spacing-64: var(--size--size-64);
$--spacing-block--spacing-72: var(--size--size-72);
$--spacing-block--spacing-80: var(--size--size-80);
$--spacing-block--spacing-96: var(--size--size-96);
$--spacing-block--spacing-120: var(--size--size-120);
$--spacing-block--spacing-160: var(--size--size-160);
$--spacing-block--spacing-240: var(--size--size-240);
$--spacing-block--spacing-320: var(--size--size-320);
$--border-radius--br-0: var(--size--size-0);
$--border-radius--br-2: var(--size--size-2);
$--border-radius--br-4: var(--size--size-4);
$--border-radius--br-6: var(--size--size-6);
$--border-radius--br-8: var(--size--size-8);
$--border-radius--br-10: var(--size--size-10);
$--border-radius--br-12: var(--size--size-12);
$--border-radius--br-24: var(--size--size-24);
$--border-radius--br-32: var(--size--size-32);
$--border-radius--br-40: var(--size--size-40);
$--border-radius--br-pill: var(--size--size-9999);
$--border-radius--br-16: var(--size--size-16);
$--dark--grey-100: var(--colors--gray--900);
$--colors--gray--50: #f5f6f6;
$--dark--background: var(--colors--main--black);
$--colors--lime--300: #bdfe4f;
$--border-width--bw-0-5: .5px;
$--border-width--bw-1: 1px;
$--border-width--bw-1-5: 1.5px;
$--border-width--bw-2: var(--size--size-2);
$--colors--blue--900: #3d486b;
$--colors--blue--800: #475586;
$--colors--blue--700: #5265a3;
$--colors--blue--500: #708dc1;
$--colors--blue--400: #8ca9ce;
$--colors--blue--600: #5d76b3;
$--colors--blue--300: #b1c6df;
$--colors--blue--200: #d3deed;
$--colors--blue--100: #e5ebf4;
$--colors--blue--50: #f4f7fa;
$--colors--emerald--900: #0c4839;
$--colors--emerald--800: #0d5844;
$--colors--emerald--700: #0e6e54;
$--colors--emerald--600: #118a65;
$--colors--emerald--500: #1eab7d;
$--colors--emerald--400: #41c696;
